mixin station(dataPoint)
  .station
    .point
    p= dataPoint.lastStop
mixin track(dataPoint)
  .track(class=dataPoint.name style=`width:${dataPoint.width}vw;`)
    .east(style=`height:${dataPoint.graffitiAmountEast}px; width:${dataPoint.width * 0.95}vw;`)
      p.amount= dataPoint.graffitiAmountEast
      div.extraInfo
        p.housePrice= `Woning prijs: ${dataPoint.housePriceEast}`
        button.watchVideo(class=dataPoint.name) Bekijk video
    .line(style=`width:${dataPoint.width * 0.95}vw;`)
    .west(style=`height:${dataPoint.graffitiAmountWest}px; width:${dataPoint.width * 0.95}vw;`)
      p.amount= dataPoint.graffitiAmountWest
      div.extraInfo
        p.housePrice= `Woning prijs: ${dataPoint.housePriceWest}`
        button.watchVideo(class=dataPoint.name) Bekijk video

doctype html
html(lang="nl")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style 
      include ./main.css
    title Amsterdam graffiti

  body 
    h1 Hoeveelheid graffiti en woningwaarde. Is er een link?
    p Wij wilde kijken of de hoveelheid graffiti per wijk die we tegen kwamen onderweg naar huis een relatie had met de woningwaarde in die wijk. Daarvoor hebben wij de onderstaande visualisatie voor gemaakt.
    .graph
      div.directions
        div.directionsText
          p east
          p west
        div.directionsArrow

      each dataPoint in data
        +station(dataPoint)
        +track(dataPoint)
      +station({lastStop: "Holendrecht"})
    div.backgroundColorDiv
      div.videoDiv
        video.video(muted)
          source(src=`` type="video/mp4")
        button.closeVideo x



  script
    include ./main.js